.jokes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.jokes>div {
    width: 300px;
    height: fit-content;
    background: #afa2a2;
    margin: 1em;
    padding: 1em;
    border-radius: .7em;
    display: flex;
    flex-direction: column;
}

.jokes>div>li {
    list-style: none;
    margin: .4em;
}

div>li:nth-of-type(1) {
    text-align: center;
    font-weight: 600;
}

div>li:nth-of-type(2) {
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    font-family: inherit;
    text-transform: uppercase;
    background: #aaa2b1;
    width: 10em;
    height: 2.7em;
    color: #fff;
    border-radius: 2.7em;
    border: none;
    font-weight: 800;
    font-size: initial;
    outline: 0px 0px 0px 7px #b6b6b675;
    transition: .2s ease-out;
}

button:hover {
    transition: .2s ease-in;
    box-shadow: 0 0 0 9px #b6b6b675;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 0 6px #aaa2b175;
    background: #b6b6b6;
}

button:focus {
    outline: 0;
}

@media (max-width: 600px) {
    body {
        overflow: auto;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .jokes {
        margin: 1em auto;
        flex-direction: column;
    }
    button {
        margin-top: 10%;
    }
}